.profile {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.profile .profile-navigation {
	border-right: 0.5px solid grey;
	margin-right: 12px;
}

.profile .profile-navigation .item {
	font-weight: 500;
	padding: 12px 4px;
	padding-right: 78px;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: grey;
}

.profile .profile-navigation .item p {
	margin-right: 8px;
}

.profile .profile-navigation .item:hover {
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
	background-color: #1b1c1d;
	color: white;
}

.profile .profile-navigation .item.selected,
.profile .profile-navigation .item.selected:hover {
	background-color: #172129;
	color: #037ed0;
}
