.navbar {
	display: flex;
	justify-content: space-between;
	padding: 40px 12px;
	position: relative;
	width: 100%;
	max-width: 1240px;
}

.navbar .upload-button {
	background-color: #f45966;
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: 600;
	margin-right: 32px;
	cursor: pointer;
}

.navbar .profile-icon {
	padding: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 18px;
	border: 0.5px solid white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .navlist {
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.navbar .navlist p {
	margin: 0px 4px;
}

.navbar .navlist p:hover {
	text-decoration: underline;
}

.premium-tag {
	margin-left: 4px;
	font-size: 10px;
	margin-top: 8px;
	cursor: pointer;
	background: linear-gradient(
		-45deg,
		#d80735,
		#ee005d,
		#fe1488,
		#ff38b7,
		#ff59e7
	);
	border-radius: 4px;
	color: white;
	animation: hue 5s ease-in-out infinite;
	-moz-animation: hue 5s ease-in-out infinite;
	-webkit-animation: hue 5s ease-in-out infinite;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}
