.buy-now {
    margin-top: 16px;
	cursor: pointer;
	background-image: linear-gradient(
		-45deg,
		#d80735,
		#ee005d,
		#fe1488,
		#ff38b7,
		#ff59e7
	);
    border-radius: 20px;
    padding: 12px 32px;
	animation: hue 5s ease-in-out infinite;
	-moz-animation: hue 5s ease-in-out infinite;
	-webkit-animation: hue 5s ease-in-out infinite;
}

@keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}
