.search-container {
	display: flex;
	background-color: #e8e8e89f;
	border-radius: 8px;
	padding: 4px 10px;
	height: 36px;
	justify-content: center;
	align-items: center;
	color: #828488;
}

.search-container input {
	border: none;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 8px;
	margin-left: 8px;
}

.search-container input:focus {
	outline: none;
}

.search-container img {
	cursor: pointer;
}
